.topper{
    
    width:"20%";
    height: 150px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 2%;
    padding-left: 300px;
    margin-bottom: 8vh;
}
.input {
    
    position: relative;
    right: 290px;
    width: 141%;
    height: 35px;
    top: 10px;
    margin-bottom: 20px;
}

.outside{
    position: relative;
    right: 290px;
    width: 141%;
    height: 35px;
    top: 10px;
    margin-bottom: 12px;

}

.rod{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    position: relative;
    right: 155px;
    width: 100%;
    height: 35px;
    top: 10px;
}

.nt-mainbox{
    display: flex;
    flex-direction: row;
    height: 7vh;
    width: 45vw;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    border-radius: 10px;
    border: solid 1px black;
    margin-bottom: 10vh;

}
#tt{
    height: 7vh;
    width: 20vw;
}
.nt-text{
    height: 5vh;
    width: 30vw;

}
.nt-mainbox-iconbar{
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
}

@media only screen and (max-width: 700px){
    .topper{
        margin-left: 20%;
        height: 250px;
        
    }
    .input {
        width: 230vw;
        height: 65px;
    }
    .outside{
        width: 230vw;
        height: 65px;
    
    }
    .rod{
        right: 285px;
    
    }
    .nt-mainbox{
        width: 340vw;
    }
    .nt-mainbox-iconbar{
        margin-left: 5vh;
    }
    .nt-text{
        /* background-color: aqua; */
        margin-right: 36vh;
        width: 100vh;
    }
}


