.header{
    display: flex;
    flex-direction: row;
    /* padding-top: 28px; */
    box-shadow: inset 0 -1px 0 0 #dadce0;
    z-index: 1201;
    padding-left: 30px;
    width: 100%;
}
.menu{
    padding-top: 30px;
}
.pic{
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-top: 30px;
    
}
.search{
    padding-right: 50px;
    padding-top: 10px;
}
.refresh{
    padding-right: 20px;
    padding-top: 30px;
}
.grid-view{
    padding-right: 20px;
    padding-top: 30px;
}
.setting{
    padding-top: 30px;
    
}
.apps{
    padding-top: 30px;
    padding-left: 50px;
}
.account{
    padding-top: 30px;padding-left: 20px;

}
@media only screen and (max-width: 769px){
    .root{
        display: flex;
        flex-direction: row;
        gap: 30px;
        width: 0%;
        /* background-color: aqua; */
        
    
    }
    .pic h2{
        display: none;
    }
    .search{
        /* margin-left: 380px; */
        padding-top: 25px;
        
    }
    .header{
        width: 60%;
    }
    .refresh{
        display: none;
    }
    .list-view{
        display: none;
    }
    .setting{
        display: none;
    }
    .apps{
        display: none;
    }
    .grid-view{
        display:none;
    }

}