.CardActions {
  display: flex;
  gap: 10px;
  padding-left: 20px;
}
.button {
  /* display: flex; */
  /* margin: 0; */
  /* padding: 0; */
}

.pallet{
display: flex;
width: 250px;
max-width: 250px;
margin: 0;
padding: 0;
}

.pallet2 {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

.pal {
  width: 100%;
  height: 140px;
  border: solid 0.2px black;
  border-radius: 10px;
}

.pal2 {
  width: 100%;
  height: 140px;
  border: solid 0.2px black;
  border-radius: 10px;
}

.colorPalContainer{
    display: flex;
    min-width: fit-content;
}

.colorPal {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.incontainer{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#basic-button1 {
  right: 50px;
}
#basic-button0 {
  right: 20px;
}
#basic-button3 {
  right: 80px;
}
#basic-button4 {
  right: 110px;
}
#basic-button5 {
  right: 110px;
}
#basic-button {
  right: 140px;
}
@media screen and (max-width: 700px) {
  .pallet{
    width: 100% !important;
    max-width: 100% !important;
  }
  .pal {
    /* margin-left: 6vh; */
    width: 330vw;
    height: 200px;
  }
  .pal2 {
    margin-left: 175vh;
    width: 165vh;
    height: 200px;
  }
}
