.responsive {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  margin-top: 50px;
  gap: 10px;
}

.noteSet {
  display: grid !important;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  margin: 0;
  padding: 0;
}

.noteSet2 {
  width: 757px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}
/* .note-container {
        display: flex;
        justify-content: center;
    }

    .grid-view .responsive {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 16px;
    }

    .list-view .responsive {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    } */

@media screen and (max-width: 600px) {
  .responsive {
    width: 35vh;
    margin-top: 100px;
    display: flex;
    flex-direction: row;

    /* justify-content: center;
        align-items: center; */
    gap: 30px;
  }
  .topper {
    margin-top: 15%;
    /* margin-left: 22%; */
    width: 469%;
  }
  .noteSet {
    grid-template-columns: auto !important;
  }
}
