@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
}

.container {
  display: flex;
  max-width: 50vw;
  border: 1px solid rgb(228, 228, 228);
  margin: auto;
  margin-top: 4rem;
  border-radius: 10px;
  padding: 2rem;
  height: 80vh;
  
}
.top-content {
  text-align: center;
  text-align: left;
  height: 70vh;
  width:50%;
  
}
.sec-content {

    height: 70vh;
    width: 18vw;
  }
img {
  width: 80px;
  margin: 10px 0;
}
h2 {
  font-size: 20px;
  font-weight:normal;
  margin-bottom: 10px;
}

.inputs{
    display: flex;
    gap: 2%;
    margin-bottom: 5%;
    
}
#text{
    display: block;
    height: 8vh;
    width: 50%;
}
.username{
    display: flex;
    height: 8vh;
}
#user-text{
    width: 100%;
}
.con{
    font-size: x-small;
    margin-bottom: 4%;
}
.con1{
    color: rgb(181, 6, 181);
    
    font-size: small;
}

.input{
    display: flex;
    gap: 2%;
    margin-bottom: 3%;
    
}
#text2{
    display: block;
    height: 8vh;
    width: 50%;
}
.lines{
    font-size: x-small;
    margin-bottom: 4%;
}
#check{
    font-size:x-small;
    margin-bottom: 10%;
}
.last{
    display: flex;
    gap: 55%;
    
    
}
.last1{
    font-size: x-small;
    color: rgb(2, 2, 114);
    
}
#b1{
    height: 150%;
    width: 180%;
    color: white;
    background-color: rgb(33, 33, 245);
}

.img img{
    display: flex;
    margin-top: 45%;
    margin-left: 20%;
    height: 90%;
    width: 80%;
}

.sec-content{
  width: 50%;

}

@media only screen and (max-width: 1000px){
  .img{
    display: none;
  }
  .container{
    width:100vw;
    max-width: none;
    margin: 0;
    margin-top: 90px;
    height: 60vh;
    justify-content: center;
    align-items: center;
  }
  .top-content {
    height: 52vh;
    width: 80vw;
  }
  #text{
    height: 30px;
  }
  #text2{
    height: 30px;
  }
  #b1{
width: 15vw;
  }
  #user-text{
    height: 30px;
}

}